<header class="header">
    <h1 class="main-header">
        <a href="/" rel="home">
            <img src="images\Logo.png" alt="代替テキスト">
        </a>
    </h1>
    <a class="login-button">
        <img src="images\login.png" alt="代替テキスト">
    </a>
    <button class="menu-toggle">
        <div class="menu-toggle-open">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="menu-toggle-close">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </button>

    <nav class="site-header__menu">
        <ul class="menu-list">
            <li>
                <a class="menu-list__item" href="/">
                    <div class="ja">
                        <span class="palt">ト</span>ップ
                    </div>
                    <div class="en">TOP</div>
                </a>
                <div class="menu-list-img">
                    <img src="images/Logo.png">
                </div>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a class="menu-list__item" href="/">
                    <div class="ja">
                        <span class="palt">ロ</span>グイン
                    </div>
                    <div class="en">LOGIN</div>
                </a>
                <div class="menu-list-img">
                    <img src="images/Logo.png">
                </div>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a class="menu-list__item" href="/">
                    <div class="ja">
                        <span class="palt">グ</span>ルメダイス
                    </div>
                    <div class="en">GOURMET DICE</div>
                </a>
                <div class="menu-list-img">
                    <img src="images/Logo.png">
                </div>
            </li>
        </ul>
        <ul class="menu-list">
            <li>
                <a class="menu-list__item" href="/">
                    <div class="ja">
                        <span class="palt">レ</span>ストラン検索
                    </div>
                    <div class="en">SEARCH RESTAURANT</div>
                </a>
                <div class="menu-list-img">
                    <img src="images/Logo.png">
                </div>
            </li>
        </ul>
    </nav>

</header>

<div class="overlay"></div>